.header{
  height:60px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  background-color:rgb(0, 0, 0);
  z-index:100;
}
.middle-section img , .right-section .logo{
  filter: invert(100%);
}
.left-section{
  display:flex;
  align-items: center;
}
.hamburger-menu{
  height:25px;
  margin-left:35px;
  margin-right:24px;
  cursor: pointer;
 }
 .youtube-logo{
  width:120px;
  padding-left: 10px;
  margin-left: -20px;
  cursor: pointer;
 }
 /* MIDDLE */
.middle-section{
  flex:1;
  /* margin-left: 0px; */
  max-width: 440px;
  display: flex;
  align-items: center;
}
.search-bar{
  height:36px;
  padding-left: 10px;
  border-radius: 1px;
  /* box-shadow: inset 1px 1px 1px rgb(13, 12, 12); */
  border:solid rgb(68, 68, 68) 1px;
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  flex:1;
  width:0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search-bar::placeholder{
  font-family:Roboto, Arial;
  font-size:15px;
  color:rgb(168, 168, 168);
}
.search-bar:focus{
  color:white;
  border:solid rgb(42, 42, 255) 1px;
  outline: none;
}
.search-button{
  height:40px;
  width:70px;
  border-radius: 1px;
  border:solid rgb(68, 68, 68) 1px;
  padding:6px 15px 3px 15px;
  margin-right:10px;
  margin-left:0px;
  background-color: rgb(28, 28, 28);
  cursor: pointer;
  transition: background-color 0.2s;
  border-top-right-radius:18px;
  border-bottom-right-radius:18px;
}
.search-button:hover{
  background-color: rgb(68, 68, 68);
}
.search-button , 
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button .tooltip , 
.voice-search-button .tooltip ,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip{
  position:absolute;
  background-color: rgb(96, 96, 96);
  color:white;
  padding:10px 10px 10px 10px;
  font-size: 12px;
  border-radius: 2px;
  bottom:-40px;
  opacity:0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip ,
.voice-search-button:hover .tooltip ,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity:1;
}
.search-icon{
  height:25px;
  width:30px;
}
.voice-search-button{
  height:40px;
  width :40px;
  border:none;
  border-radius:20px;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}
.voice-icon{
  width:25px;
}
/* RIGHT */
.right-section{
  width:180px;
  margin-left:15px;
  /* margin-right:0px; */
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-shrink:1;
}
.right-section img{
  cursor: pointer;
}
.upload-logo , .youtube-apps-logo,
 .notifications-logo{
  width:23px;
}
.notifications-icon-container{
  position:relative;
  padding-top:5px;
}
.notifications-count{
  position:absolute;
  top:2px;
  right:-5px;
  background-color:rgb(199, 2, 2);
  color:white;
  font-family:Roboto , Arial;
  font-size:12px;
  padding:1px 3px;
  border-radius:100px;
}
.profile-logo{
  height:30px;
  width:30px;
  object-fit:cover;
  border-radius:15px;
}