.sidebar{
  background-color: rgb(0,0,0);
  position:fixed;
  top:60px;
  bottom:0px;
  left:0px;
  width:95px;
  z-index: 200;
  padding-top:5px;
  white-space: nowrap;
  transition: opacity 0.5s;
}
.sidebar-remove{
  opacity: 0;
 }
.sidebar img{
  filter: invert(100%);
}
.sidebar-link{
  height:74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover{
  background-color: rgb(35, 35, 35);
  cursor: pointer;
}
.sidebar-link img{
  width:25px;
  padding-bottom: 6px;
}
.sidebar-link div{
  font-size:11px;
  color:white;
}